@import url(http://fonts.googleapis.com/css?family=Raleway:500,300);

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: 'Raleway' sans-serif;
  font-weight: 500;
}

.lead {
  line-height: 175%;
  font-weight: 300;
}

/**Make the links pretty*/
a, .link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  position: relative;
}

.link:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 4px;
  background-color: black;
  content: "";
  transition: width 0.2s;
}

.link:hover:after {
  width: 100%;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 2px dashed #2c3e50;
}

img {
  margin: 5% 0 5% 0;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

#terminal {
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  /*If video cannot be shown the bg is black*/
}

.main {
  padding-bottom: 25px;
  text-align: center;
  height: auto;
  min-height: 100vh;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px)
{
  #mobile-title {
  visibility: visible;
 }
}

#contact-floater{
  color: black;
  background-color: #ecf0f1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: inline-block;
  padding: 5px;
  border-radius: 5%;
}

#mobile-title{
  color: white;
  font-size: 150%;
  font-family: "Courier New", Courier, monospace;
  visibility: hidden;
}

h2 small {
  color: black;
}
.icon-bg{
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#icon-projects{
  background-color: #00E676;
}
#icon-fun{
  background-color: #19B5FE;
}
#icon-about{
  background-color: #f39c12;
}

.circles {
  padding-top: 10%;
}
/*Center things in the circles*/
.info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#section-about {
  width: 100%;
  min-height : 100vh;
  padding: 5% 0 5% 0;
  margin: 0;
  background-color: #f39c12;
}

#section-projects {
  width: 100%;
  min-height : 100vh;
  padding: 5% 0 5% 0;
  margin: 0;
  background-color: #00E676;
}

.social-icon {
  color: white;
}

#section-fun-stuff {
  width: 100%;
  min-height : 100vh;
  padding: 5% 0 5% 0;
  margin: 0;
  background-color: #19B5FE;
}

#section-contact {
  width: 100%;
  height : 100vh;
  padding: 0;
  margin: 0;
  background-color: #8e44ad;
}

.icon-contact {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-icon {
  transition: all 0.5s ease;
  padding: 5% 0 5% 0;
}

.social-icon:hover {
  -ms-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}
